
body {
  font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif;
  font-size: 14px;
}

a:link, a:visited {
  text-decoration: none;
}

img {
  margin-left: 6px;
  margin-right: 6px;
}

img.floatright {
  float: right;
}

img.floatleft {
  float: left;
}

h1, h2 {
  color: #106010;
}

div.outer {
  width: 900px;
  padding: 10px;
  border: 1px solid #106010;
  margin-left: auto;
  margin-right: auto;
}

div.content-wrapper {
  display: flex;
  flex-direction: row;
}

div.side-bar {
  flex: 4 0 0;
}

div.side-bar ul {
  padding-left: 30px;
}

div.side-bar ul ul {
  padding-left: 20px;
}

div.content {
  flex: 12 0 0;
}

div.header {
}

div.header img {
  margin: 0px;
}

div.footer {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  font-size: small;
}
