
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  background: #d0d0d0 url(images/noise-bg.png);
}

a {
  text-decoration: none;
}

a:hover {
  color: #d88;
}

a:link, a:visited {
  color: #88d;
}

img {
  margin-left: 6px;
  margin-right: 6px;
}

img.floatright {
  float: right;
  overflow: hidden;
}

img.floatleft {
  float: left;
  overflow: hidden;
}


div.outer {
  max-width: 1200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  border: 1px solid #a0a0a0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 2px #b0b0b0;
}

div.content-wrapper {
  display: flex;
  flex-direction: row;
}

div.side-bar {
  flex: 3 0 0;
  padding: 0 18px 0 0;
}

div.side-bar ul, div.register-button {
  padding-left: 30px;
}

div.side-bar ul ul {
  padding-left: 20px;
}

div.content {
  flex: 12 0 0;
}

div.blog-bar {
  flex: 4 0 0;
  padding: 0 0 0 18px;
}

div.blog-bar ul {
  padding: 0;
}

div.blog-bar li {
  margin: 0;
  padding: 6px 0;
  list-style: none;
  clear: both;
  border-top: solid 1px #ddd;
}

div.header {
  text-align: center;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

h1, h2, h3, h4 {
  font-family: 'Sorts Mill Goudy', serif;
}

h1 {
  font-weight: normal;
  font-style: italic;
}

div.header h1 {
  font-size: 50px;
  font-variant: small-caps;
  font-style: normal;
  margin-bottom: -6px;
}

span.divbottom {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: x-large;
  font-style: italic;
  color: #aaa;

  position:absolute;
  width: 100%;
  bottom: 45px;
  left: 0px;
}

div.header-progress {
  position:absolute;
  opacity: 0.9;
  width: 100%;
  bottom: -5px;
  left: 0px;
}

div.header img {
  margin: 0px;
}

div.footer {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  font-size: small;
}
