
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  background: #d0d0d0 url(images/noise-bg.png);
}

a {
  text-decoration: none;
}

a:hover {
  color: #d88;
}

a:link, a:visited {
  color: #88d;
}

img {
  margin-left: 6px;
  margin-right: 6px;
}

img.floatright {
  float: right;
  overflow: hidden;
}

img.floatleft {
  float: left;
  overflow: hidden;
}


div.outer {
  max-width: 1200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  border: 1px solid #a0a0a0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 2px #b0b0b0;
}

div.content-wrapper {
  display: flex;
  flex-direction: row;
}

div.side-bar {
  flex: 3 0 0;
  padding: 0 18px 0 0;
}

div.side-bar ul, div.register-button {
  padding-left: 30px;
}

div.side-bar ul ul {
  padding-left: 20px;
}

div.content {
  flex: 12 0 0;
}

div.blog-bar {
  flex: 4 0 0;
  padding: 0 0 0 18px;
}

div.blog-bar ul {
  padding: 0;
}

div.blog-bar li {
  margin: 0;
  padding: 6px 0;
  list-style: none;
  clear: both;
  border-top: solid 1px #ddd;
}

div.header {
  text-align: center;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

h1, h2, h3, h4 {
  font-family: 'Sorts Mill Goudy', serif;
}

h1 {
  font-weight: normal;
  font-style: italic;
}

div.header h1 {
  font-size: 50px;
  font-variant: small-caps;
  font-style: normal;
  margin-bottom: -6px;
}

span.divbottom {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: x-large;
  font-style: italic;
  color: #aaa;

  position:absolute;
  width: 100%;
  bottom: 45px;
  left: 0px;
}

div.header-progress {
  position:absolute;
  opacity: 0.9;
  width: 100%;
  bottom: -5px;
  left: 0px;
}

div.header img {
  margin: 0px;
}

div.footer {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  font-size: small;
}
table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
table {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  margin:20px;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr {
  text-align: center;
  padding-left:20px;
}
table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
table td {
  padding:8px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}
