<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <title>Wytham Village Broadband</title>
  <head>

  <body>

  <div class="outer">

    <div class="header">
      <h1>Broadband for Wytham Village</h1>

      <img class="floatleft" src="images/badger.png"/>
      <img class="floatright" src="images/badgerright.png"/>

      <span class="divbottom">
        The website of the Wytham Village broadband action group.
      </span>

      <div class="header-progress">
        <div class="progress" style="width:65%; margin-left: auto; margin-right: auto">
          <div class="progress-bar progress-bar-warning progress-bar-striped"
              role="progressbar" aria-valuenow="60" aria-valuemin="0"
              aria-valuemax="100" style="width: 33%;">
            40% (12 out of 30 households)
          </div>
        </div>
      </div>

    </div>
    
    <div class="content-wrapper">
      <div class="side-bar">
        <h1>Links</h1>
        {% capture sidebar %}{% include links.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      </div>

      <div class="content">
        <h1>{{page.title}}</h1>

        {{content}}

        {% if page.allowComments %}
          <hr>

          <div id="disqus_thread"></div>
          <script type="text/javascript">
              var disqus_shortname = 'wythambroadband';

              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>o

        {% endif %}

      </div>
    </div>

    <hr>

    <div class="footer">
      © Broadband for Wytham Village 2014
      <br>
      Powered by <a href="https://pages.github.com/">Github Pages</a>
    </div>
  </div>

  <body>
</html>
